:root{
    --primario: #c6c6c6 ;
    --primarioOscuro: #9c9fAE;
    --blanco: #fff;
    --negro: #383737;
    
    }

 @font-face {
    font-family: 'Gotham';
    src: url(/fuente/Gotham-Bold.otf);
    font-weight: 700;
    font-style: bold;
    }

    @font-face {
        font-family: 'Gotham-Book';
        src: url(/fuente/Gotham-Book.otf);
        font-weight: 200;
        font-style: normal;
        }

        @font-face {
            font-family: 'Gotham-Medium';
            src: url(/fuente/Gotham-Medium.otf);
            font-weight: 300;
            font-style: italic;
            }

            @font-face {
              font-family: 'Gotham-Light';
              src: url(/fuente/Gotham-Light.otf);
              font-weight: 100;
              font-style: normal;
              }
        
        
    html{
        box-sizing: border-box;
        font-size: 62.5%;
       scroll-behavior: smooth;
       overflow-y: scroll; 
        scroll-snap-type: y mandatory;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }
    
    .navegacion,
    .imagen__principal,
    .crear,
    .motivo,
    .socioambiental,
    .vida,
    .mundo,
    .otrodiseno,
    .carrera,
    .correo{
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }


    body{
      background-color: #fff;
      margin: 0;
      padding: 0;
      font-size: 1.6rem; /* Cambiado a rem para mejor escalabilidad */
      line-height: 1.1;
      height: 100%;
      width: 100%;
      font-family: 'Gotham-Light';
      font-weight: 100;
      color: var(--primario);
      overflow-x: hidden;
    }
  
    /* Navegaci贸n de pantalla completa */
  .navegacion {
    width: 100%;
    height: 100%; /* Cambiado a vh para ocupar toda la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin: 0 auto;
   padding: 3.5rem 5rem; /* Espaciado lateral */
   background-color: var(--blanco); /* Fondo blanco para la navegaci贸n */
    overflow: hidden; /* Descomentar si quieres ocultar el desbordamiento */
   transition: height 0.4s ease;
    }

.navegacion ul {
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el padding por defecto */
  margin: 0; /* Elimina el margen por defecto */
  display: flex;
  flex-direction: column;
  gap: 3rem; /* Espacio vertical entre cada <li> */
}

.navegacion li {
  list-style: none;
}
.navegacion.expandido{
  height: 150vh; /* ajust谩 esto seg煤n lo que necesite mostrar */
  background-color: var(--blanco); /* Fondo blanco para la navegaci贸n */
}

/* Estilo para los enlaces */
.navegacion .enlace .ir-a-mas {
  color: var(--primario);
  text-decoration: none; 
  width: 100%; /* Asegura que el enlace ocupe todo el ancho */
  transition: background-color 0.3s;
  margin-top: 5rem; /* Espacio entre los enlaces */
}

.navegacion img {
  margin-right: 10px;
  transition: 0.3s;
}


 /* Imagen clara por defecto */
 .icon1 {
  content: url('/imagen/1.svg');
  width: 100%;
  max-width: 350px;
}

.icon2 {
  content: url('/imagen/3.svg');
  width: 100%;
  max-width: 400px;

}
.icon3 {
  content: url('/imagen/5.svg');
  width: 100%;
  max-width: 450px;

}
.icon4 {
  content: url('/imagen/7.svg');
  width: 100%;
  max-width: 250px;
}

.icon5 {
  content: url('/imagen/9.svg');
  width: 100%;
  max-width: 40px;
}

/* Imagen oscura al hacer hover en el enlace */
.enlace:hover .icon-inicio {
  content: url('/imagen/2.svg');
}

.enlace:hover .icon-nosotros {
  content: url('/imagen/4.svg');
 
}

.enlace:hover .icon-servicios {
  content: url('/imagen/6.svg');
}

.enlace:hover .icon-contacto {
  content: url('/imagen/8.svg');
}

.ir-a-mas:hover .icon-mas {
  content: url('/imagen/10.svg');
}


/* Para el acorde贸n: contenido oculto */
.contenido {
  max-height: 0; /* Inicia oculto */
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.3s ease;
  width: 100%;
  text-align: left; /* Alineamos el texto a la izquierda */
  font-size: 2rem; /* Tama帽o de fuente m谩s peque帽o para el contenido */
  font-family: 'Gotham-Book'; /* Cambiado a Gotham-Light */
  font-weight: 200; /* Cambiado a 100 para mayor ligereza */
  color: var(--negro);
  background-color: var(--blanco); /* Fondo blanco para el contenido */
  padding: 0 1rem; /* Espaciado horizontal */
  
}

/* Cuando se activa el acorde贸n */

.contenido.activo {
  max-height: 50rem; /* Ajusta seg煤n el tama帽o de tu contenido */
  opacity: 1;
  padding: 10px 1rem; /* Un poco de padding para el contenido desplegado */
  transition: max-height 0.5s ease, opacity 0.3s ease;
}
 .contenido p{
  margin: 0.5em 0;
}
/* Opcional: Mejorar el espaciado de los textos dentro de las secciones */
.bloque {
  display: block;
  line-height: 1;
}

.bloque_mas {
  display: block;
  line-height: 1;
  font-size: 6.5rem;
  font-family: 'Gotham-Book';
  font-weight: 300;
  color: var(--primarioOscuro);
  letter-spacing: 0.1rem;
}
     .section {
      width: 100%; /* <-- Cambiado de 100vw */
      padding: 3rem 5rem;
      color: var(--negro);
      font-size: 2rem;
      font-family: 'Gotham-Book';
      font-weight: 200;
      text-align: left; /* <-- Asegura alineaci贸n del texto */
      margin: 0 auto;
      letter-spacing: 0.1rem;
       }
       .section-mas {
        width: 100%; /* <-- Cambiado de 100vw */
        height: 100vh;
        padding: 3rem 5rem;
        color: var(--negro);
        font-size: 2rem;
        font-family: 'Gotham-Book';
        font-weight: 200;
        text-align: left; /* <-- Asegura alineaci贸n del texto */
        margin: 0 auto;
        letter-spacing: 0.1rem;
         }
  
      .section-mas img{
         width: 100%;
        max-width: 80rem;
      }

      .section-mas .linea-superior{
        border-top: #494646 1px solid;
      }

     .section .linea-superior{
         border-top: #494646 1px solid;
       }
       

       .contenido .linea-superior{
          color: var(--negro);
          font-weight: 200;
          font-size: 2rem;
          border-top: #494646 1px solid;
       }


      .capitulo {
        font-size: 2rem;
        line-height: 0;
      }
      
      .capitulo .numero {
        display: inline-block;
        width: 5.6rem; /* ajust谩 seg煤n el espacio que quieras */
        text-align: left;
      }
      
      .capitulo .titulo {
        display: inline-block;
      }

      .imagen-principal {
        width: 100%;
        height: 100vh; /* Ocupa la pantalla completa */
      }
      
      .imagen__principal {
        width: 100%;
        height: 100%;
        background-image: url('/imagen/IMG_CREARRESISTIR_1\ FRAME.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    
      .boton-final {
        position: fixed;
        bottom: 15px;
        right: 15px;
        transform: translateX(-50%);
        padding: 12px 24px;
        cursor: pointer;
        text-decoration: none; /* Elimina subrayado si es un enlace */
        z-index: 1000; /* Asegura que est茅 por encima de otros elementos */
      }
  

      .icon11 {
        content: url('/imagen/11.svg');
        width: 100%;
        max-width: 30px; /* Ajustado para m贸viles */
      }

      .boton-final:hover .icon-volver {
        content: url('/imagen/12.svg');
      }

/*   M贸viles hasta 768px  */
@media screen and (max-width: 768px) {
  .navegacion {
    padding: 2rem 2rem;

  }

  .navegacion .enlace {
    font-size: 3.8rem;
  }

  .agrandar {
    font-size: 3.8rem;
  }

  .contenido {
    font-size: 1rem;
    
  }
  .contenido.activo {
    font-size: 2rem; 
  }
 
  .bloque_mas {
    font-size: 7rem;
  }

  .section {
    font-size: 2rem;
    padding: 1rem 2rem;
    height: 80vh; /* Ajustado para m贸viles */
  }

  .capitulo {
    font-size: 2rem;
  }

  .contenido .linea-superior {
    font-size: 2rem;
  }
  .imagen-principal {
    height: 50vh; /* M谩s compacto en m贸viles */
  }
  .imagen__principal {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

}

/*   M贸viles peque帽os hasta 480px  */
@media screen and (max-width: 480px) {
 .navegacion {
    margin: 0 auto;
    padding: 10rem 1rem;
    height: 120vh; /* Ajustado para m贸viles peque帽os */
  }
  .icon1 {
    content: url('/imagen/Recurso_1.png');
    width: 100%;
    max-width: 250px; /* Ajustado para m贸viles peque帽os */
  }
  .icon2 {
    content: url('/imagen/Recurso-2.png');
    width: 100%;
    max-width: 300px; /* Ajustado para m贸viles peque帽os */
  }
  .icon3 {
    content: url('/imagen/Recurso_3.png');
    width: 100%;
    max-width: 350px; /* Ajustado para m贸viles peque帽os */
  }
  .icon4 {
    content: url('/imagen/Recurso_4.png');
    width: 100%;
    max-width: 180px; /* Ajustado para m贸viles peque帽os */
  } 
 
  .navegacion .enlace {
    font-size: 3rem;
  }

  .contenido {
    font-size: 1.6rem;
    padding: 0 1rem; /* Espaciado horizontal */
  }
 
  .bloque_mas {
    font-size: 3.7rem;
  }

  .section {
    font-size: 1.8rem;
    max-height: 60vh; /* Ajustado para m贸viles peque帽os */
    padding: 1rem 1rem;
    height: 100vh; /* Ajustado para m贸viles peque帽os */
  }

  .capitulo {
    font-size: 1.8rem;
  }

  .contenido .linea-superior {
    font-size: 1.8rem;
  }
  .imagen-principal {
    height: 40vh; /* M谩s compacto en m贸viles peque帽os */
  }
}

