:root{
    --primario: #b7bcbd ;
    --primarioOscuro: #8e9191;
    --blanco: #fff;
    --negro: #383737;
    
    }

 @font-face {
    font-family: 'Gotham';
    src: url(/fuente/Gotham-Bold.otf);
    font-weight: 700;
    font-style: bold;
    }

    @font-face {
        font-family: 'Gotham-Book';
        src: url(/fuente/Gotham-Book.otf);
        font-weight: 200;
        font-style: normal;
        }

        @font-face {
            font-family: 'Gotham-Medium';
            src: url(/fuente/Gotham-Medium.otf);
            font-weight: 300;
            font-style: italic;
            }

            @font-face {
              font-family: 'Gotham-Light';
              src: url(/fuente/Gotham-Light.otf);
              font-weight: 100;
              font-style: normal;
              }
        
        
    html{
        box-sizing: border-box;
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }
    .scroll-secciones {
      height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
    }

    body{
      background-color: #fff;
      margin: 0;
      padding: 0;
      font-size: 1.6rem; /* Cambiado a rem para mejor escalabilidad */
      line-height: 1.1;
      height: 100%;
      width: 100%;
      font-family: 'Gotham-Light';
      font-weight: 100;
      color: var(--primario);
      overflow-x: hidden;
    }
  
    /* Navegaci贸n de pantalla completa */
.navegacion {
  width: 100%;
  height: 90rem; /* Cambiado a vh para ocupar toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin: 0 auto;
  padding: 5rem 5.6rem; /* Espaciado lateral */
  background-color: var(--blanco); /* Fondo blanco para la navegaci贸n */
  overflow: hidden; /* Descomentar si quieres ocultar el desbordamiento */
  transition: height 0.4s ease;
}
.navegacion ul {
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el padding por defecto */
  margin: 0; /* Elimina el margen por defecto */
}
.navegacion.expandido{
  height: 100vh; /* ajust谩 esto seg煤n lo que necesite mostrar */
  background-color: var(--blanco); /* Fondo blanco para la navegaci贸n */
}

/* Estilo para los enlaces */
.navegacion .enlace {
  /*font-size: 7rem; /* Tama帽o de fuente m谩s peque帽o para el bloque */
  /*font-family: 'Gotham-Book'; /* Cambiado a Gotham-Light */
  /*font-weight: 100; /* Cambiado a 100 para mayor ligereza */
  /*line-height: 1;
  letter-spacing: 0.1rem; /* Espaciado entre letras */
  color: var(--primario);
  text-decoration: none;
  gap: 0.5rem; /* Espacio entre los enlaces */
  width: 100%; /* Asegura que el enlace ocupe todo el ancho */
  transition: background-color 0.3s;
}

.navegacion img {
  margin-right: 10px;
  transition: 0.3s;
}

 /* Imagen clara por defecto */
 .icon1 {
  content: url('/imagen/Recurso_1.png');
  width: 100%;
  max-width: 350px;
}

.icon2 {
  content: url('/imagen/Recurso_2.png');
  width: 100%;
  max-width: 400px;

}
.icon3 {
  content: url('/imagen/Recurso_3.png');
  width: 100%;
  max-width: 450px;

}
.icon4 {
  content: url('/imagen/Recurso_4.png');
  width: 100%;
  max-width: 250px;
}

.icon5 {
  content: url('/imagen/Recurso_5.png');
  width: 100%;
  max-width: 40px;
}

/* Imagen oscura al hacer hover en el enlace */
.enlace:hover .icon-inicio {
  content: url('/imagen/Recurso_1_oscuro.png');
}

.enlace:hover .icon-nosotros {
  content: url('/imagen/Recurso_2_oscuro.png');
}

.enlace:hover .icon-servicios {
  content: url('/imagen/Recurso_3_oscuro.png');
}

.enlace:hover .icon-contacto {
  content: url('/imagen/Recurso_4_oscuro.png');
}

.enlace:hover .icon-mas {
  content: url('/imagen/Recurso_5_oscuro.png');
}



/*.navegacion .enlace:hover {
  color: var(--primarioOscuro);
  transition: all 0.3s ease-in-out;
}*/

/*.navegacion .enlace .inclinacion {
  display: inline-block;  Asegura que el texto se comporte como un bloque en l铆nea 
  transform: rotate(90deg);  Rotar el texto 
}*/

/*.agrandar {
  font-size: 7rem;
  letter-spacing: 0.1rem; Espacia un poco m谩s los s铆mbolos 
  line-height: 1;
  margin: 0 auto;
  padding: 0;
  height: 0;
}*/

/* Para el acorde贸n: contenido oculto */
.contenido {
  max-height: 0; /* Inicia oculto */
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.3s ease;
  width: 100%;
  text-align: left; /* Alineamos el texto a la izquierda */
  font-size: 2rem; /* Tama帽o de fuente m谩s peque帽o para el contenido */
  font-family: 'Gotham-Book'; /* Cambiado a Gotham-Light */
  font-weight: 100; /* Cambiado a 100 para mayor ligereza */
  color: var(--negro);
  background-color: var(--blanco); /* Fondo blanco para el contenido */
  padding: 0 1rem; /* Espaciado horizontal */
  
}

/* Cuando se activa el acorde贸n */
.contenido.activo {
  max-height: 50rem; /* Ajusta seg煤n el tama帽o de tu contenido */
  opacity: 1;
  padding: 10px 1rem; /* Un poco de padding para el contenido desplegado */
  transition: max-height 0.5s ease, opacity 0.3s ease;
}
 .contenido p{
  margin: 0.5em 0;
}
/* Opcional: Mejorar el espaciado de los textos dentro de las secciones */
.bloque {
  display: block;
  line-height: 1;
}

.bloque_mas {
  display: block;
  line-height: 1;
  font-size: 6.5rem;
  font-family: 'Gotham-Book';
  font-weight: 300;
  color: var(--primarioOscuro);
  letter-spacing: 0.1rem;
}
     .section {
      width: 100%; /* <-- Cambiado de 100vw */
      height: 100vh;
      padding: 1rem 5.6rem;
      color: var(--negro);
      font-size: 2rem;
      font-family: 'Gotham-Book';
      font-weight: 200;
      text-align: left; /* <-- Asegura alineaci贸n del texto */
      margin: 0 auto;
       }


     .section .linea-superior{
         border-top: #494646 1px solid;
       }

       .contenido .linea-superior{
          color: var(--negro);
          font-weight: 200;
          font-size: 2rem;
          border-top: #494646 1px solid;
       }


      .capitulo {
        font-size: 2rem;
        line-height: 0;
      }
      
      .capitulo .numero {
        display: inline-block;
        width: 5.6rem; /* ajust谩 seg煤n el espacio que quieras */
        text-align: left;
      }
      
      .capitulo .titulo {
        display: inline-block;
      }

      .imagen-principal {
        width: 100%;
        height: 100vh; /* Ocupa la pantalla completa */
      }
      
      .imagen__principal {
        width: 100%;
        height: 100%;
        background-image: url('/imagen/IMG_CREARRESISTIR_1\ FRAME.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    


/*   M贸viles hasta 768px  */
@media screen and (max-width: 768px) {
  .navegacion {
    padding: 2rem 2rem;
  }

  .navegacion .enlace {
    font-size: 3.8rem;
  }

  .agrandar {
    font-size: 3.8rem;
  }

  .contenido {
    font-size: 2rem;
  }

  .bloque_mas {
    font-size: 4rem;
  }

  .section {
    font-size: 2rem;
    padding: 1rem 2rem;
    height: 80vh; /* Ajustado para m贸viles */
  }

  .capitulo {
    font-size: 2rem;
  }

  .contenido .linea-superior {
    font-size: 2rem;
  }
  .imagen-principal {
    height: 50vh; /* M谩s compacto en m贸viles */
  }
  .imagen__principal {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

}

/*   M贸viles peque帽os hasta 480px  */
@media screen and (max-width: 480px) {
 .navegacion {
    margin: 0 auto;
    padding: 3rem 1rem;
    height: 85vh; /* Ajustado para m贸viles peque帽os */
  }
  .icon1 {
    content: url('/imagen/Recurso_1.png');
    width: 100%;
    max-width: 250px; /* Ajustado para m贸viles peque帽os */
  }
  .icon2 {
    content: url('/imagen/Recurso_2.png');
    width: 100%;
    max-width: 300px; /* Ajustado para m贸viles peque帽os */
  }
  .icon3 {
    content: url('/imagen/Recurso_3.png');
    width: 100%;
    max-width: 350px; /* Ajustado para m贸viles peque帽os */
  }
  .icon4 {
    content: url('/imagen/Recurso_4.png');
    width: 100%;
    max-width: 180px; /* Ajustado para m贸viles peque帽os */
  } 
 
  .navegacion .enlace {
    font-size: 3rem;
  }

  .contenido {
    font-size: 1.6rem;
    padding: 0 1rem; /* Espaciado horizontal */
  }
 
  .bloque_mas {
    font-size: 2.5rem;
  }

  .section {
    font-size: 1.8rem;
    max-height: 60vh; /* Ajustado para m贸viles peque帽os */
    padding: 1rem 1rem;
    height: 100vh; /* Ajustado para m贸viles peque帽os */
  }

  .capitulo {
    font-size: 1.8rem;
  }

  .contenido .linea-superior {
    font-size: 1.8rem;
  }
  .imagen-principal {
    height: 40vh; /* M谩s compacto en m贸viles peque帽os */
  }
}

