:root{
    --primario: #cac6c5;
    --primarioOscuro: #7b7877;
    --blanco: #fff;
    --negro: #494646;
    
    }

 @font-face {
    font-family: 'Gotham';
    src: url(/fuente/Gotham-Bold.otf);
    font-weight: 700;
    font-style: bold;
    }

    @font-face {
        font-family: 'Gotham-Light';
        src: url(/fuente/Gotham-Light.otf);
        font-weight: 100;
        font-style: normal;
        }

        @font-face {
            font-family: 'Gotham-Medium';
            src: url(/fuente/Gotham-Medium.otf);
            font-weight: 400;
            font-style: italic;
            }
        
    
    html{
        box-sizing: border-box;
        font-size: 62.5%;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    body{
        background-color: #fff;
        font-size: 6rem;
        line-height: 1.1;
        height: 100%;
        width: 100%;
        font-family: 'Gotham-Light';
        font-weight: 100;
        color: var(--primario);
    }
    /* Navegación de pantalla completa */
    .navegacion {
        display: flex;
        align-items: center;
        justify-content: left;
        height: 100vh;
        width: 100vw;
      }

      .navegacion ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        text-align: left;
      }

      .navegacion a {
        text-decoration: none;
        color: var(--primario);
        font-weight: bold;
        transition: color 0.3s ease;
        display:block;
        text-decoration: none;
        position: relative;
        top: 0;
        z-index: 10;  
      }
      .navegacion a:hover {
        color: var(--primarioOscuro); /* Color de acento al pasar el mouse */
      }
      
      @media (max-width: 767px) {
        /* Aquí van los estilos específicos para pantallas pequeñas */
      
        .navegacion ul {
          gap: .5rem; /* menos espacio entre enlaces */
        }
      
        .navegacion a {
          font-size: 4rem; /* letras un poco más pequeñas */
        
        }
      
        .simbolo {
          font-size: 0.95em;
        }
      }


      .inclinada {
        display: inline-block;
        transform: rotate(90deg); /* Vuelca la A hacia la derecha */
        transform-origin: center;
      }
      .bloque {
        display: block;
        line-height: 1.2;
      }
      .simbolo {
        font-size: 1em;       /* Igual que la letra A */
        margin-left: -0.1em;  /* Juntarlo un poco con la A */
        letter-spacing: -0.1em; /* Ajuste de espacio entre los > */
      }
      /* Contenedor del enlace y su sección */
      .bloque-enlace {
        margin-bottom: 1rem;
      }


      .contenido {
         max-height: 0;
         overflow: hidden;
         transition: max-height 0.6s ease, padding 0.3s ease;
         padding: 0 .5rem;
         background: var(--blanco);
         color: var(--negro);
         margin-top: .5rem;
         font-size: 1.8rem;
         font-family: 'Gotham-Light';
         font-weight: 100;
        }

      .contenido.activo {
       max-height: 60rem; /* ajusta según el contenido */
       padding: .5rem;
        }
      
      .bloque_mas{
        font-size: 6rem;
        line-height: 1.1;
        font-family: 'Gotham-Light';
        font-weight: bold;
        color: var(--primarioOscuro);
      }

      @media (max-width: 767px) {
        .bloque_mas{
          font-size: 4rem; 

        }
       }

     /* .section {
        height: 100vh;
        width: 100vw;
        padding: 3.6rem;
       }*/
    

     /*  .section p{
        color: var(--negro);
         margin-top: 3rem;
         font-size: 1.8rem;
         font-family: 'Gotham-Ligth';
         font-weight: 100;
       }*/
       .contenido .linea-superior{
          color: var(--negro);
          font-weight: 100;
          font-size: 1.8rem;
          border-top: #494646 1px solid;
       }
